{% extends "base.html" %}

{% block content %}
  <h1> Reports </h1>
    <form action="." class="" role="form" method="post" autocomplete="off" id="ReportForm">
    {% csrf_token %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 form-group">
            <div class="form-group">
              {{ form.store_name.label }}
            </div>
            <div class="form-group">
              {{ form.store_name }}
              {{ form.store_name.errors }}
            </div>
            <div class="form-group">
              {{ form.date.label }}
            </div>
            <div class="form-group">
              {{ form.date }}
              {{ form.date.errors }}
            </div>
            <div class="form-group">
              {{ form.turn.label }}
            </div>
              {{ form.turn }}
              {{ form.turn.errors }}
            </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 form-group">
            <div class="form-group">
              {{ form.period.label }}
            </div>
            <div class="form-group">
              {{ form.period }}
              {{ form.period.errors }}
            </div>
            <div class="form-group">
              {{ form.sold.label }}
            </div>
            <div class="form-group">
              {{ form.sold }}
              {{ form.sold.errors }}
            </div>
            <div class="form-group">
              {{ form.fuels.label }}
            </div>
            <div class="form-group">
              {{ form.fuels }}
              {{ form.fuels.errors }}
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>


{% endblock %}






